:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
    --color-white:#fff;
}

* {
    font-family: 'open-sans',sans-serif;
}
body{
    background-image: url("./images/bg-desktop.svg");
    background-color: var(--main-color);
    font-family: 'open-sans',sans-serif;
   
    
}

.main-container{
    max-width:1440px;
}
/*******header****/
.logo{
    width: 15%;
    padding-top: 49px;
    margin-left: 50px;
}
/******intro-section*****/
.intro-container{
    display: flex;
}

.intro-container img{
    width:50%;
    max-width:100%;
    padding-left:4%;
    padding-top: 60px;
}

.intro-title{
    color:var(--color-white);
    font-weight:600;
    font-size:32px;
    padding-left: 8%;
    padding-top:40px;
    margin-bottom: 3%;
    padding-right: 4%;

}

.intro-text{
    color: var(--color-white);
    font-weight: 400;
    padding-left: 8%;
    font-size: 15px;
    margin-bottom: 5%;
    line-height: 25px;
}

.Register {
  background-color:var(--color-white);
  border-radius: 25px;
  border:0;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 300;
  height:55px;
  width: 30%;
  box-shadow: 0.5px 5px 9px rgb(62, 61, 61);
  margin-left:8%;
}
/*******footer******/
.icons{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 5%;
}

.facebook{
    color:var(--color-white);
    font-size:29px;
    gap:5px;
}

.twitter{
    color:var(--color-white);
    font-size: 29px;
}

.instagram{
    color: var(--color-white);
    font-size: 29px;
}


.Frontend{
    color: var(--color-white);
    font-size:small;
    display: flex;
    justify-content: center;
}


/***** media query mobile********/
@media only screen and (max-width:600px){

    .main-container{
        width: 100%;
        max-width: 1440px;
    }

    .logo{
        width: 50%;
    }

    .intro-container{
        width: 50%;
        max-width:100%;
        display: flex;
    }

    .intro-container img{
        width: 80%;
        max-width: 100%;
        padding-top: 10%;
        position: absolute;
    }

    .intro-title{
        text-align: center;
        font-size: 32px;
        margin-bottom: 5%;
        padding-right: 10%;

    }

    .intro-text{
        text-align: center;
        margin-top: 15%;
        padding-top:2%;
        font-size: 19px;
    }

    .Register{
        width: 30%;
    }

    .icons{
        align-items: center;
    }
}