:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
    --color-white:#fff;
}

* {
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--main-color);
}

.main-container{
    max-width: 1440px;
    min-width: 375px;
    width: fit-content;
}
/*******header****/
.logo{
    width: 15%;
    padding-top: 40px;
    margin-left: 50px;
}
/******intro-section*****/
.intro-container{
    display: flex;
}

.intro-container img{
    display: flex;
    width: 80%;
    padding-left: 4%;
    padding-top: 4%;
}

.heading-title{
    color:var(--color-white);
    font-weight:600;
    font-size: 35px;
    padding-left: 5%;

}

.text{
    color:var(--color-white);
    font-weight: 400;
    padding-left: 5%;
    font-size: 15px;
}

.Register{
  background-color:var(--color-white);
  border-radius: 25px;
  border:0;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 300;
  height: 10%;
  width: 30%;
  box-shadow: 0.5px 5px 9px rgb(62, 61, 61);
  margin-left:25px;
}
/*******footer******/
.icons{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: flex-end;
    padding-right: 5%;
}

.facebook{
    color:var(--color-white);
    font-size:25px;
    gap:5px;
}

.twitter{
    color:var(--color-white);
    font-size: 25px;
}

.instagram{
    color: var(--color-white);
    font-size: 25px;
}


.Frontend{
    color: var(--color-white);
    font-size:small;
    display: flex;
}

.text-styling{
    text-decoration: none;
}