:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
    --color-white:#fff;
}

* {
    font-family: 'poppins',sans-serif;
}

body{
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--main-color);
    font-family: 'open-sans',sans-serif;
}

.main-container{
    width: 100%;

    max-width:fit-content;
}
/*******header****/
.logo{
    width: 15%;
    padding-top: 39px;
    margin-left: 50px;
}
/******intro-section*****/
.intro-container{
    display: flex;
    max-width: 100%;
}

.intro-container img{
    min-width:;
    padding-left:4%;
    padding-top: 50px;
}

.intro-title{
    color:var(--color-white);
    font-weight:600;
    font-size: 39px;
    padding-left: 8%;
    padding-top:40px;

}

.intro-text{
    color: var(--color-white);
    font-weight: 300;
    padding-left: 8%;
    font-size: 16px;
    margin-bottom:5%;
}

.Register {
  background-color:var(--color-white);
  border-radius: 25px;
  border:0;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 300;
  height:55px;
  width: 30%;
  box-shadow: 0.5px 5px 9px rgb(62, 61, 61);
  margin-left:8%;
}
/*******footer******/
.icons{
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 5%;
}

.facebook{
    color:var(--color-white);
    font-size:29px;
    gap:5px;
}

.twitter{
    color:var(--color-white);
    font-size: 29px;
}

.instagram{
    color: var(--color-white);
    font-size: 29px;
}


.Frontend{
    color: var(--color-white);
    font-size:small;
    display: flex;
    justify-content: center;
}

.text-styling{
    text-decoration: none;
}

@media screen (max-width:900px){
    body{

    }
}