:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

* {
    font-family: 'poppins',sans-serif;
}

body{
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--main-color);

}
/*******header****/
.logo{
    width: 15%;
    padding-top: 40px;
    margin-left: 50px;
}
/******intro-section*****/
.intro-container{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.intro-container img{
    padding-left: 4%;
    padding-top: 2%;
}

.heading-title{
    color:#fff;
    font-weight:600;
    font-size: 35px;
    white-space: pre-wrap;

}

.sub-text{
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-size: 18px;
    
}

.Register{
  background-color:#fff;
  border-radius: 25px;
  border:0;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  padding: 12px 15px;
  display: flex;


}
/*******footer******/
.icons{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: flex-end;
    padding-right: 5%;

}

.facebook{
    color:#fff;
    font-size:25px;
    gap:5px;
}

.twitter{
    color: #fff;
    font-size: 25px;
}

.instagram{
    color: #fff;
    font-size: 25px;
}


.Frontend{
    color: #fff;
    font-size:small;
    display: flex;
}

.text-styling{
    text-decoration: none;
}
